*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box ;
font-family: 'poppins', sans-serif;
    font-size: 18px;
 }
 body{
background-color: rgba(184, 183, 183, 0.616);}
 nav{ 
height: 60px;
    width: 95%;
    background-color: goldenrod;
    border-radius: 3px;
    margin:.5%;
	margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
 
nav ul{
float: right;
margin-right: 15px;
}
nav ul li{
    display: inline-block;
    margin: 18px 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
nav ul li a{
    color: rgb(255, 255, 255);
	margin: 5px 0px;
    padding: 5px 2px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover{
    background: rgba(255, 255, 255, 0.527);
	color: #0f0f0f;
    transition: .5s;
}

/*  footer  */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ffffff;
    padding: 20px 0;
	width: 95%;
	border-radius: 4px;
    margin: 2.5%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 15px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: goldenrod;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #0c0c0c;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.747);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #000000;
	background-color: #616161c9;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




